<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Eventforge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">


    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>



    <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3">
            <div class="d-flex align-items-center">
                <div class="site-logo mr-auto">
                    <a href="/index">Eventforge<span class="text-primary"></span></a>
                </div>
                <div class="site-quick-contact d-none d-lg-flex ml-auto ">
                    <div class="d-flex site-info align-items-center mr-5">
                        <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                        <span>Varna<br> Bulgaria</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="menu-wrap d-flex align-items-center">
                <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>
                <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto ">
                        <li><a href="/index" class="nav-link">Начало</a></li>
                        <li><a href="/registerOrganisation" class="nav-link">Регистрирай се</a></li>
                        <li  class="active"><a href="/login" class="nav-link">Впиши се</a></li>
                        <li><a href="gallery.html" class="nav-link">Еднократни активности</a></li>
                        <li><a href="pricing.html" class="nav-link">Продължителни активности</a></li>
                        <li><a href="about.html" class="nav-link">Организации</a></li>
                    </ul>
                </nav>

                <div class="top-social ml-auto">
                    <a href="#"><span class="icon-facebook text-teal"></span></a>
                    <a href="#"><span class="icon-twitter text-success"></span></a>
                    <a href="#"><span class="icon-linkedin text-yellow"></span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-md-5 mt-5 pt-5">
                        <span class="text-cursive h5 text-red">Влез в своята организация</span>
                        <h1 class="mb-3 font-weight-bold text-teal">Eventforge</h1>
                    </div>
                    <div class="col-md-5 ml-auto align-self-end">
                        <img src="images/img_1.png" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <form method="post" th:action="@{/create-event}" th:object="${eventRequestResult}">
            <div class="formbold-mb-5">
                <label class="formbold-form-label"> Име на събитието </label>
                <input input type="text" th:field="*{name}" placeholder="Име на събитието" class="formbold-form-input" required/>
            </div>
            <div class="formbold-mb-5">
                <label class="formbold-form-label">Подробно описание на събитието</label>
                <textarea placeholder="Подробно описание на събитието" th:field="*{description}" class="formbold-form-input" style="width: 550px; height: 150px;" required></textarea>
            </div>
            <div class="formbold-mb-5">
                <label class="formbold-form-label">Онлайн ли е събитието?</label>
                <div class="form-check">
                    <input type="radio" name="isOnline" value=Да> Да<br>
                </div>
                <div class="form-check">
                    <input type="radio" name="isOnline" value=Не> Не<br>
                </div>
            </div>
            <div class="formbold-mb-5">
                <label class="formbold-form-label"> Адрес на събитието </label>
                <input type="text" th:field="*{address}" placeholder="Адрес на събитието" class="formbold-form-input" required/>
            </div>


            <div class="formbold-mb-5">
                <label class="formbold-form-label">Цена за вход събитието (ако е безплатно въведете 0)</label>
                <input type="number" th:field="*{price}" step="0.01" placeholder="Цена за вход на събитието" class="formbold-form-input" required />
            </div>
            <div class="formbold-mb-5">
                <label class="formbold-form-label">Минимална възраст за участие</label>
                <input type="number" step="1" th:field="*{minAge}" placeholder="Минимална възраст за участие" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label class="formbold-form-label">Максимална възраст за участие</label>
                <input type="number" step="1" th:field="*{maxAge}" placeholder="Максимална възраст за участие" class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label class="formbold-form-label">Еднокравно ли е събитието?</label>
                <div class="form-check">
                    <input type="radio" name="isOneTime" value=Да> Да<br>
                </div>
                <div class="form-check">
                    <input type="radio" name="isOneTime" value=Не> Не<br>
                </div>
            </div>
            <div class="formbold-mb-5">
                <label class="formbold-form-label"> Начало на събитието </label>
                <input type="datetime-local" th:field="*{startsAt}" class="formbold-form-input"/>
            </div>
            <div class="formbold-mb-5">
                <label class="formbold-form-label"> Край на събитието </label>
                <input type="datetime-local" th:field="*{endsAt}" class="formbold-form-input"/>
            </div>
            <div class="formbold-mb-5">
                <label class="formbold-form-label"> Подробности за повторение </label>
                <input type="text" th:field="*{recurrenceDetails}" placeholder="подробности за повторение" class="formbold-form-input" required/>
            </div>
            <div>
                <div class="col-md-6 offset-md-3">
                    <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Създай събитие">
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>