<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Eventforge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <!--    HEADER-->
    <th:block th:include="~{fragments/header}"></th:block>

    <div class="ftco-blocks-cover-1">

        <div class="site-section-cover overlay">
            <div class="container">
                <div class="row align-items-center ">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row flex-lg-nowrap">
            <div class="col-12 col-lg-auto mb-3" style="width: 200px;"></div>
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        <h3 style="color:#ee4557;">Промени информация за организацията си</h3>
                                    </div>
                                    <ul class="nav nav-tabs d-flex">
                                        <li class="nav-item">
                                            <a th:href="@{/organisation/settings}" class="active nav-link">Настройки на
                                                акаунт</a>
                                        </li>
                                        <li class="nav-item">
                                            <a th:href="@{/organisation/settings/change-password}"
                                               class="active nav-link">Смяна на парола</a>
                                        </li>
                                        <li class="nav-item">
                                            <a th:href="@{/organisation/settings/change-pictures}"  class="active nav-link">Смяна на лого и корица</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form action="#" class="form"
                                                  th:action="@{/organisation/settings/submit-update}"
                                                  th:object="${updateRequest}" method="post" novalidate>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Име на организацията</label>
                                                                    <input class="form-control" type="text"
                                                                           th:field="*{name}"
                                                                           th:value="${updateRequest.name}"
                                                                           placeholder="Име на организацията">
                                                                </div>
                                                                <div th:if="${name}" id="nameError">
                                                                    <p th:text="${name}" style="color: red;"></p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Име и фамилия</label>
                                                                    <input class="form-control" type="text"
                                                                           th:field="*{fullName}"
                                                                           th:value="${updateRequest.fullName}"
                                                                           placeholder="Име и фамилия">
                                                                </div>
                                                                <div th:if="${fullName}" id="fullNameError">
                                                                    <p th:text="${fullName}" style="color: red;"></p>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Булстат</label>
                                                                    <input class="form-control" type="text"
                                                                           th:field="*{bullstat}"
                                                                           th:value="${updateRequest.bullstat}"
                                                                           placeholder="Булстат">
                                                                </div>
                                                                <div th:if="${bullstat}" id="bullstatError">
                                                                    <p th:text="${bullstat}" style="color: red;"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Телефон</label>
                                                                    <input class="form-control" type="tel"
                                                                           th:field="*{phoneNumber}"
                                                                           th:value="${updateRequest.phoneNumber}"
                                                                           placeholder="Телефон">
                                                                </div>
                                                                <div th:if="${phoneNumber}" id="phoneNumberError">
                                                                    <p th:text="${phoneNumber}" style="color: red;"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Адрес</label>
                                                                    <input class="form-control" type="text"
                                                                           th:field="*{address}"
                                                                           th:value="${updateRequest.address}"
                                                                           placeholder="Адрес">
                                                                </div>
                                                                <div th:if="${address}" id="addressError">
                                                                    <p th:text="${address}" style="color: red;"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Уебсайт</label>
                                                                    <input class="form-control" type="text"
                                                                           th:field="*{website}"
                                                                           th:value="${updateRequest.website}"
                                                                           placeholder="Уебсайт">
                                                                </div>
                                                                <div th:if="${website}" id="websiteError">
                                                                    <p th:text="${website}" style="color: red;"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Фейсбук</label>
                                                                    <input class="form-control" type="text"
                                                                           th:field="*{facebookLink}"
                                                                           th:value="${updateRequest.facebookLink}"
                                                                           placeholder="Фeйсбук">
                                                                </div>
                                                                <div th:if="${facebookLink}" id="facebookLinkError">
                                                                    <p th:text="${facebookLink}"
                                                                       style="color: red;"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Опция за благотворителност</label>
                                                                    <input class="form-control" type="text"
                                                                           th:field="*{charityOption}"
                                                                           th:value="${updateRequest.charityOption}"
                                                                           placeholder="Опция за благотворителност">
                                                                </div>
                                                                <div th:if="${charityOption}" id="charityOptionError">
                                                                    <p th:text="${charityOption}"
                                                                       style="color: red;"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col mb-3">
                                                                <div class="form-group">
                                                                    <label>За организацията</label>
                                                                    <textarea class="form-control" rows="5"
                                                                              th:field="*{organisationPurpose}"
                                                                              th:value="${updateRequest.organisationPurpose}"
                                                                              placeholder="За организацията"></textarea>
                                                                </div>
                                                                <div th:if="${organisationPurpose}"
                                                                     id="organisationPurpose">
                                                                    <p th:text="${organisationPurpose}"
                                                                       style="color: red;"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Отбележете категориите, които съответстват на
                                                                        приоритетите на организацията.:</label>
                                                                    <div th:each="category : ${allPriorities}">
                                                                        <label>
                                                                            <input type="checkbox"
                                                                                   th:value="${category}"
                                                                                   th:field="*{chosenPriorities}"/>
                                                                            <span th:text="${category}"></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div th:if="${updateAccountRequest}" id="registrationRequest">
                                                            <p th:text="${updateAccountRequest}"
                                                               style="color: red;"></p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Категория</label>
                                                                    <input class="form-control" type="text"
                                                                           th:field="*{optionalCategory}"
                                                                           th:value="${updateRequest.optionalCategory}"
                                                                           placeholder="Категория">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col d-flex justify-content-end">
                                                    <button class="btn btn-primary" type="submit"
                                                            style="width: 150px; height: 50px;position: relative; top: 1px;left: 10px;">
                                                        Запази
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('preview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
