<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Политика за поверителност</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap">


    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<th:block th:include="~{fragments/google_analytics}"></th:block>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" class="text-cursive">

<div class="popup" th:data-result="${result}">
    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <!--    HEADER  -->
        <th:block th:include="~{fragments/header}"></th:block>


        <div th:if="${tokenExpired}" id="tokenExpired">
            <p th:text="${tokenExpired}" style="color: red;"></p>
        </div>
        <div class="ftco-blocks-cover-1">
            <div class="site-section-cover">
                <div class="container">
                    <div class="row align-items-center ">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section py-1 bg-warning">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 d-flex">
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light" id="contact-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-7 text-center mb-5">
                    <h2 class="text-cursive 21 text-yellow text-center">Политика за поверителност</h2>
                </div>

                <div><h4>Политика за поверителност</h4>
                    <p class="content">Фондация „Социалната чайна“ следва правила и процедури, които да гарантират спазването на
                        действащото национално и европейско законодателство в областта на защитата на данните. В тази
                        връзка Фондация „Социалната чайна“ събира и обработва лични данни по законосъобразен и
                        добросъвестен начин, съхранява ги с грижа и сигурност и не ги предоставя на трети страни
                        незаконно.</p>

                </div>
                <div>
                    <h4>Електронни адреси/ Телефон за контакт</h4>
                    <p class="content">Електронните адреси, предоставени от вас като представител на НПО, коете се регистрира в
                        платформата за социални събития във Варна active-varna.org, ще бъдат използвани само във връзка
                        с работата ни свързана с платформата.
                        В случай че сте отправили запитване към нас чрез формата ни за контакт от сайта на
                        active-varna.org или директно към електронния адрес на Фондация „Социалната чайна“, Вашите данни
                        за контакт (имена, електронен адрес и телефон) ще бъдат използвани единствено за целите на
                        отговора на отправеното запитване. Тези данни няма да бъдат допълнително обработвани без Вашето
                        съгласие.
                        Ако искате да се отпишете от нашия списък с адреси на електронни пощи, можете да го направите
                        във всеки един момент като пишете на контактният мейл адрес и посочите, че е относно проекта
                        Активна Варна (active-varna.org) - info@thesocialteahouse.bg</p>
                </div>
                <div>
                    <h4>Google Analytics</h4>
                    <p class="content">Водещ инструмент за събиране на информация за Вашето поведение, за целите на измерването на
                        нашите уеб сайтове. Смятаме използването му за наш легитимен интерес.
                        Детайлна техническа информация може да намерите тук:
                        <a href="   https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">   https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a>
                        Правилата за поверителност и условията на Google, включително и Google Analytics, може да
                        намерите тук:
                        <a href="https://policies.google.com/technologies/partner-sites?hl=bg">https://policies.google.com/technologies/partner-sites?hl=bg</a>
                        Ако искате да забраните на Google Analytics да следи поведението Ви, може да използват следния
                        инструмент, предоставен от доставчика:
                        <a href=" https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>
                    </p>
                </div>
                <div>
                    <h4>Google Tag Manager</h4>
                    <p class="content">Това е услуга на Google, която ни позволява да управляваме по лесен начин сервираните скриптове
                        на нашите сайтове. Доставчикът на услугата декларира, че въпреки използването на бисквитки, тя
                        не събира Вашите лични данни;
                    </p>
                </div>
                <div>
                    <h4>Сигурност на информацията</h4>
                    <p class="content">Използваме различни защитни методи като кодиращи системи и системи за оторизация, за да
                        поддържаме сигурността на Вашата информация. Информацията за Вас, която имаме, се пази с
                        firewall-и и е достъпна само до ограничен брой членове на нашия екип.
                    </p>
                </div>
                <div>
                    <h4>Вашите права като субекти на данните, начин на упражняването им и защита</h4>
                    <p class="content">
                        Всяко физическо лице има следните права по отношение на личните му данни, обработвани от
                        Фондация „Социалната чайна“:
                    </p>
                    <ol>
                        <li>право на информация;</li>
                        <li>право на достъп до личните му данни;</li>
                        <li>право на коригиране;</li>
                        <li>право на изтриване;</li>
                        <li>право на ограничаване на обработването;</li>
                        <li>право на преносимост на данните;</li>
                        <li>право на възражение срещу обработване на личните му данни.</li>
                    </ol>
                    <p class="content">Фондация „Социалната чайна“ не взема решения, основаващи се единствено на автоматизирано обработване, включващо профилиране на субекти на данни.
                        Правото на субектите на данни на информация се осъществява посредством предоставената в този документ кратка, разбираема и лесно достъпна информация, която се отнася до обработването. Допълнителна информация, свързана с обработването на лични данни от Фондация „Социалната чайна“, която се дължи съгласно действащата нормативна уредба, можете да получите в качеството си на субект на данните чрез подаване на електронно заявление на електронния адрес на Фондация „Социалната чайна“ info@thesocialteahouse.bg.
                        Правата, изброени в точките от 2 до 7, можете да упражните като подадете електронно заявление на електронния адрес на Фондация „Социалната чайна“.
                        Правата на субектите на данни се тълкуват в смисъла, вложен в разпоредбите на Глава Трета от (Регламент (ЕС) 2016/679).
                        В случай на оплакване във връзка с упражняването на посочените права, субектът на данни има право да иска преразглеждане на случая му, а при отказ за преразглеждане - да подаде жалба до надзорния орган – Комисията за защита на личните данни.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FOOTER-->
<th:block th:include="~{fragments/footer}"></th:block>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/resultPopUp.js"></script>
<script src="js/main.js"></script>

</body>

</html>
<style>
    .text-yellow {
        color: #f9a122;
    }

    .content{
        text-align: justify;
    }

    h4{
        margin-top: 15px;
    }
</style>
